.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: pink;
}

.search-icon {
  margin-left: -30px;
  color: #333;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pincode {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

.arrow-icon {
  font-size: 0.8em;
}

.icon {
  font-size: 1.2em;
  cursor: pointer;
}

.heart-icon {
  color: #e74c3c;
}

.user-icon {
  color: #3498db;
}

.cart-icon {
  position: relative;
  font-size: 1.5em;
}

.cart-count {
  position: absolute;
  top: 5px;
  right: 40px;
  background-color: pink;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}


/* Nav css  */

.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar li {
  position: relative;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar a::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.navbar li a:hover {
  color: pink;
}

.navbar li:hover a::after {
  transform: rotate(180deg);
}



/* Responsive styles */
@media (max-width: 768px) {
  .search-bar {
    margin: 0 10px;
  }

  .user-info {
    gap: 10px;
  }
}
